// Import base styles
@use "base";

// Define color and position options for each game option
$option-colors: (
  "scissors": (
    border: hsl(39, 89%, 49%),
    // Border color for scissors
    hover: hsl(40, 84%, 48%),
    // Hover color for scissors
    position:
      (
        // Position for scissors
        auto,
        auto,
        0%,
        auto,
        -40px,
        auto,
      ),
  ),
  "paper": (
    border: hsl(230, 89%, 62%),
    // Border color for paper
    hover: hsl(230, 89%, 65%),
    // Hover color for paper
    position:
      (
        // Position for paper
        auto,
        36%,
        75px,
        auto,
        auto,
        auto,
      ),
  ),
  "rock": (
    border: hsl(349, 71%, 52%),
    // Border color for rock
    hover: hsl(349, 70%, 56%),
    // Hover color for rock
    position:
      (
        // Position for rock
        auto,
        40%,
        auto,
        0%,
        auto,
        -40px,
      ),
  ),
  "lizard": (
    border: hsl(261, 73%, 60%),
    // Border color for lizard
    hover: hsl(261, 72%, 63%),
    // Hover color for lizard
    position:
      (
        // Position for lizard
        40%,
        auto,
        auto,
        0%,
        auto,
        -35px,
      ),
  ),
  "spock": (
    border: hsl(189, 59%, 53%),
    // Border color for spock
    hover: hsl(189, 58%, 57%),
    // Hover color for spock
    position:
      (
        // Position for spock
        36.5%,
        auto,
        72px,
        auto,
        auto,
        auto,
      ),
  ),
);

// Mixin for creating an option circle
@mixin option-circle(
  $border-color: black,
  // Border color of the circle
  $left: auto,
  // Left position of the circle
  $right: auto,
  // Right position of the circle
  $top: auto,
  // Top position of the circle
  $bottom: auto,
  // Bottom position of the circle
  $margin-top: auto,
  // Top margin of the circle
  $margin-bottom: auto // Bottom margin of the circle
) {
  // Styles for the option circle
  @include base.flex-center;
  position: absolute;
  background-color: white;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 13px solid;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2) inset;
  transition: all 10ms;
  border-color: $border-color;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;

  img {
    width: 50px; // Set the width of the image inside the circle
  }
}

// Mixin for hover effect on option circle
@mixin option-hover($border-color: white) {
  // Border color on hover
  &:hover {
    border-color: $border-color;
    cursor: pointer;
  }
}

// Styles for the pentagon container
.pentagon {
  @include base.flex-center; // Apply the flex-center mixin from base
  position: relative;
  margin-top: 90px;

  // Generate styles for each game option
  @each $option, $colors in $option-colors {
    .#{$option} {
      // Apply the option circle mixin with the game option's colors and positions
      @include option-circle(
        map-get($colors, "border"),
        nth(map-get($colors, "position"), 1),
        nth(map-get($colors, "position"), 2),
        nth(map-get($colors, "position"), 3),
        nth(map-get($colors, "position"), 4),
        nth(map-get($colors, "position"), 5),
        nth(map-get($colors, "position"), 6)
      );
      // Apply the hover effect mixin with the game option's hover color
      @include option-hover(map-get($colors, "hover"));
    }
  }
}
